In [25]:
import json
import re

In [103]:
def sql_to_natural_language(sql_clause):
    """
    Converts a SQL WHERE clause into a natural language explanation.

    Parameters:
        sql_where_clause (str): The SQL WHERE clause to be translated.

    Returns:
        str: The natural language explanation.
    """
    # Replace common SQL syntax with natural language equivalents
    replacements = [
        (r"NOT (.*?) IN \((.*?)\)", r"\1 IS NOT ONE OF (\2)"),
        (r"IN \((.*?)\)", r"IS ONE OF (\1)"),
        (r"LIKE '%(.*?)%'", r"CONTAINS '\1'"),
        (r"LIKE '(.*?)%'", r"STARTS WITH '\1'"),
        (r"LIKE '%(.*?)'", r"ENDS WITH '\1'"),
        (r"LIKE (.*?)", r"CONTAINS \1"),
        (r"CAST\((.*?) AS (.*?)\)", r"(CONVERT \1 TO \2)"),  # Handle CAST function
        (r"CASE WHEN (.*?) THEN (.*?) ELSE (.*?) END", r"IF \1, THEN \2, ELSE \3"),  # Handle CASE WHEN
        (r"COUNT\(\*\)", "COUNTS ALL ROWS"),  # Handle COUNT(*)
        (r"ISNULL\((.*?), (.*?)\)", r"IF \1 IS NULL THEN \2")
    ]
    
    natural_lang = sql_clause.strip()

    for pattern, replacement in replacements:
        natural_lang = re.sub(pattern, replacement, natural_lang, flags=re.IGNORECASE)
        continue

    return natural_lang

In [106]:
sql = 'count(*)'

sql = "ISNULL(cfg.LKP_Counterparty.Intercompany_segment, 'LKP_error')"

#sql = "WHERE (Level_4 = 'Fixed Rate Mortgages' AND Forward_Starting = 'FS' AND Funding_space_Component IN ('Basefundinginterest', 'Principal', 'Total Value') AND NOT market_shock IN ('Book Value', 'Face Amount', 'Net WAC', 'WAL_0')) OR (instrument_set = 'Mortgage Proposal' AND Funding_space_Component IN ('Basefundinginterest', 'Principal', 'Total Value') AND NOT market_shock IN ('Book Value', 'Face Amount', 'Net WAC', 'WAL_0')) AND (Portfolio LIKE '%OBV' OR Portfolio LIKE '%ABB')"
#sql = "WHERE (Level_4 = 'Fixed Rate Mortgages' AND instrumnet_set IN ('mortgage', 'offset mortgage') AND external_counterparty_segment = 'households' AND (market_shock LIKE '%SOT' OR market_shock LIKE '%EVEatR')) OR (Level_4 = 'Fixed Rate Mortgage Savings' AND instrument_set = 'mortgage savings' AND (market_shock LIKE '%SOT' OR market_shock LIKE '%EVEatR')) AND (Portfolio LIKE '%OBV' OR Portfolio LIKE '%ABB')"
#sql = "WHERE QRM.Run_Time_Description.CompanyName = @@User_doublecolumns_Comp_Name AND QRM.Run_Time_Description.Portfolio = @@User_doublecolumns_Port_current"
#sql = "WHERE 1 = 1 AND QRM.Run_Time_Description.Portfolio = @@User_doublecolumns_Port_current AND CAST(QRM.Run_Time_Description.Market AS DATE) = CAST(@@User_doublecolumns_Market_date AS DATE) AND QRM.Run_Time_Description.Strategy LIKE @@User_doublecolumns_Matchgap AND QRM.Run_Time_Description.CompanyName = @@User_doublecolumns_Comp_Name AND QRM.Run_Time_Description.DateTimeStamp = (subquery_1_Package\select_res)"
#sql = "WHERE dbo.tbl_Product_parameter.Action_Take = 'Portdate' AND dbo.tbl_Product_parameter.Action_Take = 'ReportingDatabase' AND dbo.tbl_Product_parameter.Action_Take = 'ReportingServer' AND dbo.tbl_Product.Product_id = @@User_doublecolumns_Product AND dbo.tbl_Product.Period = @@User_doublecolumns_Period AND dbo.tbl_Product_file.File_id = @@User_doublecolumns_FileID"
#sql = "WHERE ((Level_04 = 'Fixed Rate Mortgages' AND Forward_Starting = 'FS' AND Funding_Component_Mapping_ID IN ('Base funding interest', 'Principal', 'Total Value')) OR (instrument_set = 'Mortgage Proposal' AND Funding_Component_Mapping_ID IN ('Base funding interest', 'Principal', 'Total Value'))) AND (Entity IN ('OBV', 'ABB'))"
#sql = "WHERE dbo.tbl_Product_parameter.Action_Take = 'Portdate' AND dbo.tbl_Product.Product_id = @@User_doublecolumns_Product AND dbo.tbl_Product.Period = @@User_doublecolumns_Period AND dbo.tbl_Product_file.File_id = @@User_doublecolumns_FileID AND dbo.tbl_Product_parameter.Action_Take = 'ReportingDatabase' AND dbo.tbl_Product_parameter.Action_Take = 'ReportingServer'"

In [107]:
print(sql)

print(sql_to_natural_language(sql))

ISNULL(cfg.LKP_Counterparty.Intercompany_segment, 'LKP_error')
IF cfg.LKP_Counterparty.Intercompany_segment IS NULL THEN 'LKP_error'

In [109]:
def split_on_as(input_string):
    # Check if "AS" exists in the string
    if ' AS ' in input_string:
        # Split on the last occurrence of "AS"
        parts = input_string.rsplit(' AS ', 1)
    else:
        # If no "AS" is found, keep the string as is
        parts = [input_string]
    return parts

# Example Usage
example1 = "SELECT column1 AS alias1"
example2 = "SELECT column1 AS alias1, column2 AS alias2"
example3 = "SELECT column1, column2"

print(split_on_as(example1))  # ['SELECT column1', 'alias1']
print(split_on_as(example2))  # ['SELECT column1 AS alias1, column2', 'alias2']
print(split_on_as(example3))  # ['SELECT column1, column2']

['SELECT column1', 'alias1']
['SELECT column1 AS alias1, column2', 'alias2']
['SELECT column1, column2']